# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/python/Windows/.idea
/python/Windows/FolderWatcher/_output
/python/Windows/FolderWatcher/_input
/python/Windows/shared/shared_models
